
/* CODE COULEUR :

GRIS HAMBURGER : #4c4c4c
GRIS NAVBAR / FOOTER : #1c1c1c
JAUNE : #e6e458

Point de rupture : 768 px */




*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
   /* gap: 10rem;*/
}

/*******************/
/*******************/
/** NAVBAR *********/
/*******************/
/*******************/

.navbar {
    overflow: hidden;
    background: #1c1c1c;
    position: relative;
    top: 0;
    position: sticky;
}

.navbar #links {
    display: none;
    height: 100vh;
    background: #4c4c4c;
}

.navbar img {
    height: 3rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
    margin-bottom: 0.9rem;
}


.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    margin-left: 2rem;
    padding-top: 2rem;
    background: #4c4c4c;
}

.navbar a#icon {
    background: #1c1c1c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
}

#socialmedia {
    margin-top: 7rem;
    display: flex;

}


/*******************/
/*******************/
/** FOOTER *********/
/*******************/
/*******************/

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    font-size: 0.60rem;
}

footer {
    margin-bottom: 4rem;
}


/*******************/
/*******************/
/** PLAYER *********/
/*******************/
/*******************/

#player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1c1c;
    height: 4rem;
    color: white;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;

}

#player i {
    padding: 0 1rem 0 1rem;
}

.titlesong {
    margin-left: 4rem;
}


/********************************OUTSIDER*************************************************************************/
.titrePage{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.bioGrpOutsider{
    color: white;
    background-color: #1c1c1c;
    text-align: center;  
    padding-top: 1rem;
}



/***********************************OPHELIE**********************************************************************/
/*
body > section:nth-child(3){
     background-image: url(../img/concert1.jpg);
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;} */
  

/*********************GLOBAL CORP*************************************************************************************/

body > article > section:nth-child(n) > div{
    width: 76%;
    background-color: #1c1c1c;
}
body > article > section:nth-child(n) > div > div > p{
  
    color: white;
    background-color: #1c1c1c;
    padding: 17px;
}
body > article > section:nth-child(n) > h2{
    padding-top: 10rem;
    color: white;
    margin-bottom: 1rem;
}
body  > article > section:nth-child(n){
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.bioKevin{
     background-image: url(../img/concert4.jpg);
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed; 
 body > article > section:nth-child(1) > div 
}*/
.bioGrp{
    width: 100%;
    padding: 10px;
    background-color: #1c1c1c;
}
.titreAndP{
    display: flex;
    flex-direction: column;
}
.bioBloc2Outsider{
    margin-bottom: 4rem;
    }
.bioBloc1Outsider{
      
    margin-bottom: 4rem;
}

/********** media supp 768 case article ***********/
@media screen and (min-width : 700px) {

        body  > article > section:nth-child(2n+1) {
            display: flex;
            flex-direction: row;
            margin-left: 5rem;
            
        }
        body > article > section:nth-child(2n) {
            display: flex;
            flex-direction: row-reverse;
            margin-right: 5rem;
            
        }
        .bioBloc1Outsider{
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-bottom: 4rem;
        }
        .bioBloc2Outsider{
            width: 80%;
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 4rem;
        }
    
        .scroller {
            height: 70%;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        }
        
        .scroller section {
            scroll-snap-align: start;
        }  
        .bioGrp {
            width: 40%;
        }      
}
/************************/
.scroller {
    height: 70%;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
}

.scroller section {
    scroll-snap-align: start;
}